#root {
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.header {
  padding: 10px 20px;
  width: 100vw;
}

a {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

#card {
  width: 30%;
  margin: auto;
  overflow: hidden;
}

.search-box form label {
  display: flex;
  justify-content: space-between;
}

.search-box input[type="search"] {
  width: 48%;
  font-size: 20px;
  border: 0;
  padding: 0.75rem 0.9375rem 0.9375rem;
  background: #e6ebed;
  text-align: center;
  box-sizing: border-box;
  border-radius: 20px;
}

.notfound {
  background: #fff;
  padding: 1.875rem;
  text-align: center;
  border-radius: 20px;
}
.notfound h2 {
  font-size: 2rem;
  color: #27ae60;
  margin-bottom: 0.625rem;
}
.notfound p {
  font-size: 1rem;
  color: #000;
}
.github-profile-info {
  background: #fff;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
}
.github-profile-info img {
  width: 150px;
  height: 150px;
  display: block;
  border-radius: 10px;
}
.github-profile-info h2 a {
  font-size: 30px;
  color: #2368bd;
}
.github-profile-info h2 a:hover {
  text-decoration: underline;
}
.github-profile-info h3 {
  font-size: 1.1885rem;
  color: #bdcbce;
}
.github-profile-state {
  background: #34495e;
  text-align: center;
  padding: 1.875rem 0.9375rem;
  border-radius: 20px;
}
.github-profile-state ul {
  direction: ltr;
}
.github-profile-state li {
  list-style: none;
  display: inline-block;
  margin-right: 1rem;
  padding: 0 1em;
}

.github-profile-state a {
  color: #fff;
}
.github-profile-state i {
  font-size: 1.5rem;
  font-weight: 700;
  font-style: normal;
  display: block;
}
.github-profile-state span {
  font-size: 20px;
  letter-spacing: 0.06rem;
  color: #27ae60;
}
/* Media Queries for Mobile */
@media (max-width: 900px) {
  .card {
    padding: 1em;
  }

  .header {
    padding: 10px;
  }

  #card {
    width: 90%;
    top: 50%;
  }

  .search-box input[type="search"] {
    font-size: 18px;
    padding: 0.5rem 0.75rem;
  }

  .notfound h2 {
    font-size: 1.5rem;
  }

  .notfound p {
    font-size: 0.875rem;
  }

  .github-profile-info img {
    width: 150px;
    height: 150px;
    display: block;
    border-radius: 10px;
  }

  .github-profile-info h2 a {
    font-size: 20px;
  }

  .github-profile-info h3 {
    font-size: 1rem;
  }

  .github-profile-state i {
    font-size: 1.25rem;
  }

  .github-profile-state span {
    font-size: 18px;
  }
}

@media (min-width: 900px) and (max-width: 1400px) {
  #card {
    width: 50%;
  }
}

.loader {
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: absolute;
  top: 20%;
  left: 46%;
  transform: translateX(-50%) translateY(-50%);
  border: 16px solid #f3f3f3;
  border-top: 16px solid #16c52e;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

.loader-mini {
  position: relative;
  left: 47%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border: 6px solid #f3f3f3;
  border-top: 6px solid #16c52e;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.names-outer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin: 10px 0;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.names-outer img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 15px;
}

.names-inner {
  display: flex;
  flex-direction: column;
}

.names-inner p {
  margin: 0;
  font-size: 1rem;
  color: #333;
  margin-left: auto;
}
.names-inner a {
  margin-top: 5px;
  font-size: 0.9rem;
  color: #4495ca;
  margin-left: auto;
  text-decoration: none;
}

.names-inner a:hover {
  text-decoration: underline;
}
.names-outer img {
  cursor: pointer;
}
.names-outer .names-inner p {
  cursor: pointer;
}
.buttons-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.next-page-btn {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
  width: 40%;
}

.next-page-btn:hover {
  background-color: #218838;
  transform: translateY(-2px);
}

.next-page-btn:active {
  background-color: #1e7e34;
  transform: translateY(2px);
}

.hide {
  display: none;
}
.empty-div {
  /* flex-grow: 1; */
  width: 40%;
}

.buttons-2 p {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin: 0 20px;
  padding: 10px;
}
